<div
    class="{{ [ 'e-accordion' ] | merge( classNames ) | join( ' ' ) }}"
    style="width: 100%; margin: auto; border: 1px solid #ccc; background-color: #eee; padding: 10px;"
>
    {{ children | join }}
</div>
